.img_product{
	max-width: 100%;
    margin-bottom: 10px;
}

.slogan{
    color: #fff;
    font-size: 23px;
    font-weight: bold;
}

.item_display_none{
	display:none;
}

@media (max-width: 992px){
	#navbarSupportedContent {
		background: cornflowerblue !important;
		padding: 18px 10px !important;
	}
}
